<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <!-- <script src="js/models/todo.js"></script> -->
    <!-- <script defer type="module" src="js/collections/todos.js"></script>
    <script defer type="module" src="js/views/app-view.js"></script>
    <script defer type="module" src="js/views/todo-view.js"></script> -->
    <!-- <script src="js/app.js"></script> -->
  </head>
  <body>
    <script type="text/template" id="stats-template">
      <span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
      <ul class="filters">
      	<li>
      		<a class="selected" href="#/">All</a>
      	</li>
      	<li>
      		<a href="#/active">Active</a>
      	</li>
      	<li>
      		<a href="#/completed">Completed</a>
      	</li>
      </ul>
      <% if (completed) { %>
      <button class="clear-completed">Clear completed</button>
      <% } %>
    </script>
    <script type="text/template" id="item-template">
      <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>

      	<label><%- title %></label>
      	<button class="destroy"></button>
      </div>
      <input class="edit" value="<%- title %>">
    </script>
    <section id="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input
          class="new-todo"
          placeholder="What needs to be done?"
          autofocus
        />
      </header>
      <section id="main">
        <input class="toggle-all" id="toggle-all" type="checkbox" />
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer"></footer>
    </section>

    <div class="js-date"></div>
    <div class="listBox"></div>
    <script>
      var app = app || {};
      var ENTER_KEY = 13;

      /**
       * app -model todo
       *
       */
      app.Todo = Backbone.Model.extend({
        defaults: {
          content: "",
          completed: false,
        },

        //completed 상태 업그레이드
        toggle: function () {
          this.save({
            completed: !this.get("completed"),
          });
        },
      });
      /**
       * app- collections
       */
      var TodoList = Backbone.Collection.extend({
        model: app.Todo,
        localStorage: new Backbone.LocalStorage("todos-backbone"),
        completed: function () {
          return this.filter((todo) => todo.get("completed"));
        },
        remaining: function () {
          return this.filter((todo) => !todo.get("completed"));
        },
        nextOrder: function () {
          if (!this.length) {
            return 1;
          }
          return this.last().get("order") + 1;
        },
        comparator: function (todo) {
          return todo.get("order");
        },
      });

      app.Todos = new TodoList();
      /**
       * app- view
       */

      app.AppView = Backbone.View.extend({
        el: "#todoapp",
        statsTemplate: _.template($("#stats-template").html()), //  handlebar로변경하기

        events: {
          "keypress #new-todo": "createOnEnter",
          "click #clear-completed": "clearCompleted",
          "click #toggle-all": "toggleAllComplete",
        },
        initialize: function () {
          // console.log(this.el);
          this.allCheckbox = this.$("#toggle-all")[0];
          this.input = this.$("#new-todo");
          this.footer = this.$("#footer");
          this.main = this.$("#main");

          this.listenTo(app.Todos, "add", this.addOne);
          this.listenTo(app.Todos, "reset", this.addAll);
          this.listenTo(app.Todos, "change:completed", this.filterOne);
          this.listenTo(app.Todos, "filter", this.filterAll);
          this.listenTo(app.Todos, "all", this.render);
          console.log(app.Todos);
          app.Todos.fetch();
        },

        render: function () {
          let completed = app.Todos.completed().length;
          let remaining = app.Todos.remaining().length;

          if (app.Todos.length) {
            this.main.show();
            this.footer.show();
            console.log("app todo 목록이 있다");
            this.footer.html(
              this.statsTemplate({
                completed: completed,
                remaining: remaining,
              })
            );
            this.$("#filters li a")
              .removeClass("selected")
              .filter('[href="#/' + (app.TodoFilter || "") + '"]')
              .addClass("selected");
          } else {
            this.main.hide();
            this.footer.hide();
          }
          this.allCheckbox.checked = !remaining;
          console.log(this.allCheckbox.checked);
        },
        //todo 하나 추가
        addOne: function (todo) {
          let view = new app.TodoView({ model: todo });
          $("#todo-list").append(view.render().el);
        },
        //Todos collections의 목록 한번에 모두 추가
        addAll: function () {
          this.$("#todo-list").html("");
          app.Todos.each(this.addOne, this);
        },
        filterOne: function () {
          todo.trigger("visible");
        },
        filterAll: function () {
          app.Todos.each(this.filterOne, this);
        },
        //새로운 todo 항목을 위한 속성 생성
        newAttributes: function () {
          return {
            title: this.$input.val().html(),
            order: app.Todos.nextOrder(),
            completed: false,
          };
        },
        //새로운 todo 추가&저장
        createOnEnter: function (event) {
          if (event.which != ENTER_KEY || !this.$input.val().trim()) {
            return;
          }
          app.Todos.create(this.newAttributes());
          this.$input.val("");
        },
        //완료된 todo 삭제
        clearCompleted: function () {
          _.invoke(app.Todos.completed(), "destroy");
          return false;
        },
        //모든 항목의 체크박스를 완료로 토글 시킨다.
        toggleAllComplete: function () {
          let completed = this.allCheckbox.checked;

          app.Todos.each((todo) => {
            todo.save({
              completed: completed,
            });
          });
        },
      });

      /**
       * todo-view
       */
      app.TodoView = Backbone.View.extend({
        tagName: "li",
        template: _.template($("#item-template").html()),
        events: {
          "dblclick label": "edit",
          "keypress .edit": "updateOnEnter",
          "blur .edit": "close",
        },
        initialize: function () {
          this.listenTo(this.HTMLModElement, "change", this.render);
        },
        render: function () {
          this.$el.html(this.template(this.model.toJSON()));
          this.$input = this.$(".edit");
          return this;
        },
        edit: function () {
          this.$el.addClass("editing");
          this.$input.focus();
        },
        close: function () {
          let value = this.$input.val().trim();
          if (value) {
            this.model.save({ title: value });
          }
          this.$el.removeClass("editing");
        },
        updateOnEnter: (e) => {
          if (e.which === ENTER_KEY) {
            this.close();
          }
        },
      });

      (function () {
        new app.AppView();
      })();
    </script>
  </body>
</html>
